head
{
    font-size: 22px;
}
body
{
    background-color: blanchedalmond;
    
    color: red;
    
}
a
{
    color:skyblue;
}
ul
{
    color:black
}
address
{
    color:gray
}
abbr
{
    color:green
}
